body {
  background-color: #585957;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mainFont {
 color: #000;
}

.bg-grey {
  background: #393939;
  height: 100vh;
  min-height: 500px;
}

.jukeimg {
  margin: auto;
}

.left_main {
  background: #393939;
  display:inline;
  margin-left: 100px;
  border: 1px solid #ffffcc;
  border-radius: 10px;
  padding: 10px;
}
.right_main {
  background: #393939;
  display:inline;
  margin-left: auto;
  border: 1px solid #ffffcc;
  border-radius: 10px;
}

.songBox {
  margin:auto;
  width: 500px;
  height: 150px;
  background-color: #393939;
  border: 2px solid #ffffcc;
  border-radius: 5px;
  margin:10px;
  padding: 5px;
  color: white;

}
.albumArt {
  float:left;
  width: 75px;
  border: 1px solid black;
}

.lightgrey {
  background-color: #393939;
  margin-left: 0px;
}
.addplay {

  background-color: #000;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #ffffcc;

}

.songplaylistbox {
  margin:auto;
  width: 500px;
  height: 100px;
  background-color: #393939;
  border: 2px solid #ffffcc;
  border-radius: 5px;
  margin-top:5px;
  padding: 5px;
  color: white;
}
