body {
  background: #393939;
  margin-bottom: 100px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mainFont {
 color: #000;
}

.col {
  background: #393939;
}

.bg-grey {
  background: #393939;
  height: 100vh;
  min-height: 500px;
}

.jukeimg {
  margin: auto;
  margin-bottom: 10px;
}

.fixedpos {
  position: fixed;
  right:65%;
}

.left_main {
  background: #393939;
  display:inline;
  margin-left: 100px;
  border: 1px solid #ffffcc;
  border-radius: 10px;
  padding: 10px;


}
.right_main {
  background: #393939;
  display:inline;
  margin-left: auto;
  border: 1px solid #ffffcc;
  border-radius: 10px;
}

.songBox {
  margin:auto;
  width: 500px;
  height: 90px;
  background-color: #393939;
  border: 2px solid #ffffcc;
  border-radius: 5px;
  margin:10px;
  padding: 5px;
  color: white;

}
.albumArt {
  float:left;
  width: 75px;
  border: 1px solid black;
}

.lightgrey {
  background-color: #393939;
  margin-left: 0px;
  height:100vh;
  padding-top: 65px;
  margin-bottom: 100px;
}
.addplay {

  background-color: #000;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #ffffcc;
  font-size: .75em;
}

.orderedplay {

  background-color: #000;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #ffffcc;
  font-size: .75em;
  margin: 10px;
}

.song-title {
  font-weight: bold;
  margin-bottom: 0px;
}
.song-artist {
  font-size: .75em;
  display: inline;
  margin-top: 0px;

}

.offWhite {
  color: #f3f1e8;
}

.songplaylistbox {
  margin:auto;
  width: 270px;
  height: 60px;
  background-color: #393939;
  border: 2px solid #ffffcc;
  border-radius: 7px;
  margin-top:5px;
  padding: 5px;
  color: white;
}

.echobottom {
  background: #000;
  padding-top: 65px;

}



.styleWrapper {
padding-bottom: 80px;
background-color:#393939;


}
